body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6faff;
  color: #293544;
  font-size: 16px;
}

table {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table * {
  color: #293544;
}

.hero .navbar {
  background-color: #fff;
}

.hero {
  justify-content: start;
}

.section {
  padding: 5rem 0.75rem;
}

.table th:not([align]) {
  vertical-align: middle;
}

.app-loader {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.signin-logo {
  margin: 0 30px 30px;
  max-width: 200px;
}

.signin-button {
  background: #F76767;
  box-shadow: none;
}

.signin-button:hover {
  background-color: #DB4B53;
  transition: all 0.3s ease;
  box-shadow: 0 0 30px -6px #DB4B53;
  border: none;
}

.signin-button,
.signin-button:hover,
.signin-button:focus {
  color: #fff;
}

.button.is-primary,
.button.is-primary:hover {
  background: #fee9e9;
  color: #f76767;
}

.spacer {
  margin-top: 20px;
}

.card {
  box-shadow: 0 2px 3px rgba(32, 46, 119, .1), 0 0 0 1px rgba(32, 46, 119, .1);
}

.card-header {
  background-color: #F76767;
  margin-bottom: 1em;
}

.card-header-title {
  color: #fff;
  font-size: 20px;
}

.progress:not(:last-child) {
  margin-bottom: 0;
}

table td:not([align]).is-progress-col {
  text-align: right;
  min-width: 20rem;
  vertical-align: middle;
}

table th:not([align]).is-numeric,
table td:not([align]).is-numeric {
  text-align: right;
}

.is-abbr-like {
  border-bottom: 1px dashed #dbdbdb;
  cursor: default;
}

.is-link {
  cursor: pointer;
}